doctype html
html
head
    title Home
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,900', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Cuprum&subset=latin', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/style_home.css')
    link(rel='stylesheet', href='css/jquery.confirm.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    script(src='js/jquery-1.11.1.min.js')
    
  body
   .container(style='font-family: Arial Black; font-size: 20px; color: black;padding: 10px;')
    center
     span#welcome_span(style='color: grey; font-size: 15px;')
     &nbsp;&nbsp;&nbsp;&nbsp; 
     a(href="/logout")
       img(src='images/logout20.png', width='32', height='32',alt="Logout")
     &nbsp;&nbsp;&nbsp;&nbsp;
     a#commandlist(href='#')
       img(src='images/laptop computer14.png', width='32', height='32',alt="Help")
     &nbsp;&nbsp;&nbsp;&nbsp;
     a#settings(href='#')
       img(src='images/settings48.png', width='32', height='32',alt="Settings")
     &nbsp;&nbsp;&nbsp;&nbsp;     
     a#panel(href='#')
       img(src='images/menu29.png', width='32', height='32',alt="Panel")
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     span#language_span(style='color: grey; font-size: 16px;')
                       
   .container
    center
     br 
     a#button(href='javascript:toggleStartStop();')     
     br
               
    .page
     left     
        .subpage#page 
         span#lines_span(style='color: grey; font-size: 10px;')
         &nbsp;&nbsp;
         span#words_span(style='color: grey; font-size: 10px;')
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
         a#buttonnewtext(href='javascript:controls("clear");')
           img(src='images/pages.png', width='30', height='30',alt="New text") 
         &nbsp;&nbsp;&nbsp;&nbsp; 
         a#download(href='/download') 
           img(src='images/pdf19.png', width='30', height='30',alt="Download to pdf")
         &nbsp;&nbsp;&nbsp;&nbsp; 
         a#downloadtxt(href='/download_txt') 
           img(src='images/document263.png', width='30', height='30',alt="Download to txt")     
         &nbsp;&nbsp;&nbsp;&nbsp;
         a#email(href='/email')    
           img(src='images/mail115.png', width='30', height='30',alt="Send to your email account")
         br 
         span#title_span
         p
         br 
         span#docA_span(style='color: black; font-size: 20px;')
         span#interim_span(style='color: grey; font-size: 25px;')
         span#icon_span
         span#manual_span(style='color: black; font-size: 20px;')    
         span#docB_span(style='color: black; font-size: 20px;')
         br       
     .clear_all 


   script(type='text/javascript')     
   script(src='/socket.io/socket.io.js')  
   script(src="./app/speech.js")
   script(src="./app/cookie.js")
   script(src="./app/data.js")
   script(src="./app/controls.js")
   script(src="./app/jquery.confirm.js")
   script(src="./app/lib.js")
   script(src='js/bootstrap.min.js')   
   script
     var domain = document.domain;
     document.domain = "54.68.32.250"
     