doctype html
html
  head
    title Welcome
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    //link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,900', rel='stylesheet')
    script(src='js/jquery-1.11.1.min.js')
    link(rel='stylesheet', href='css/style_home.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    //script(src='js/jquery.min.js')
    //script(src='js/jquery.dropotron.min.js')

  body
   .container
    center
     .container(style='top:50%; bottom:50%;')
      p
       h1 Welcome to Smartnotes ! 
       br
       h3 Sign in to try it now !
       br
       a(href="/register")
         img(src='images/register-now-button-pilll-red-hi.png', width='400', height='100',alt="Register")        
       br
       h1 or
       br
       a(href="/login")
         img(src='images/login_button_01.jpg', width='400', height='100',alt="Register")       
       br
       br
      .container       
       p Smartnotes is a hands free and easy way to take note and edit them with the power of simple verbal commands. 
       p Beta version features:
       p Download your note trough pdf and txt format
       p Send to your email account
   script(src='js/bootstrap.min.js')      
   footer
    .footer
     center
      p Copyrigth 2015 S3R3NITY Technologies    