doctype html
html
    head
        title Oups. Not using google... 
    body
      .container
       center
        h1 You need to use Google Chrome or Chromium to use smartnotes.
        h2 Thank you!
        a(href="/", style='font-size:25px') Return to home
        br
        a(href="https://support.google.com/chrome/answer/95346?hl=en", style='font-size:25px') Download Google Chrome
        br
        a(href="https://www.chromium.org/getting-involved/download-chromium", style='font-size:25px') Download Chromium       