body {
	height:100%;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #3b5998 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    padding: 1cm;
    border: 5px blue solid;
    height: 256mm;
    outline: 2cm #749DFC solid;
}
.nav {
  position: absolute;
  height:29.7cm;;
  top: 0;
  left: 0;
  border: 2px grey solid;
  padding: 10px;        
  background-color: #D8D8D8 ;  
  width: 300px;
  transform: translate(0px, 0px);
  transition: all 1s ease-out;
  
}
#help {
  position: absolute;
  height:29.7cm;;
  top: 0;
  left: 0;
  border: 2px grey solid;
  padding: 10px;        
  background-color: #D8D8D8 ;  
  width: 300px;
  transform: translate(0px, 0px);
  transition: all 1s ease-out;
  
}
#settingsMenu {
  position: absolute;
  height:29.7cm;;
  top: 0;
  left: 0;
  border: 2px grey;
  padding: 10px;        
  background-color: #D0D0D0  ;  
  width: 300px;
  transform: translate(0px, 0px);
  transition: all 1s ease-out;
  
}
#panelmenu {
  position: absolute;
  height:29.7cm;;
  top: 0;
  left: 0;
  border: 2px grey;
  padding: 10px;        
  background-color: #D0D0D0  ;  
  width: 300px;
  transform: translate(0px, 0px);
  transition: all 1s ease-out;
  
}

.nav--active {
  position: absolute;
  height:29.7cm;;
  top: 0;
  right: 0;
  border: 2px grey solid;  
  padding: 10px;     
  background-color: #D8D8D8 ;
  width: 300px;
  transform: translate(0px, 0px);
  transition: all 1s ease-out;
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
body {
	height:100%;
    margin: 10px;
    padding: 10px;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page {
    width: 90%;
    min-height: 70%;
    padding: 2%;
    margin: 2% auto;
    border: 1px #3b5998 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    padding: 1%;
    border: 5px blue solid;
    height: 69%;
    outline: 1% #749DFC solid;
}	
	
	
	}